
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px;
}

.container .left_side{
    position: relative;
    background: rgb(43, 73, 161);
    padding: 40px;
}

.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(234, 240, 233, 0.2);
} 

.profileText .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 0%;
    overflow: hidden;  
}
   
.profileText .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
} 

.CONTACTO h3{
    padding-top: 2px;
    text-align: center;
}

.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

CONTACTO Ul{
    position: relative;
}
.CONTACTO Ul li{
    position: relative;
    list-style: none;
    margin: 12px 0;
    cursor: pointer;
}

.CONTACTO Ul li .icon{
    display: inline-block;
    width: 70px;
    font-size: 22px;
    color: rgb(43, 73, 161);
    background-color: #fff;
    /* padding: 5px 0 5px 0; */
    height: auto;
    border-radius: 5px 5px 5px 5px;
    text-align: right;
}

.CONTACTO Ul li span{
    color: #fff;
    font-weight: 300;
}

.CONTACTO ul:hover span{
    filter: blur(2px);
}

.CONTACTO ul li span:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}


.HABILIDADES h3{
    padding-top: 2px;
    text-align: center;
}

.HABILIDADES li{
    margin-bottom: 15px;
}

.HABILIDADES Ul li{
    position: relative;
    list-style: none;
    margin: 12px 0;
    cursor: pointer;
    color: #fff;
}


.HABILIDADES .percent {
    position: relative;
    width: 60%;
    height: 10px;
    background-color: rgb(99, 92, 92);
    display: block;
    margin-top: 7px;
    float: right;
}

.HABILIDADES .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(246, 247, 250);
}

.HABILIDADES ul:hover span{
    filter: blur(2px);
}

.HABILIDADES ul li span:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.SKILLS h3{
    padding-top: 2px;
    text-align: center;
}

.SKILLS li{
    margin-bottom: 15px;
}

.SKILLS Ul li{
    position: relative;
    list-style: none;
    margin: 12px 0;
    cursor: pointer;
    color: #fff;
}

.SKILLS .percent {
    position: relative;
    width: 60%;
    height: 10px;
    background-color: rgb(99, 92, 92);
    display: block;
    margin-top: 7px;
    float: right;
}

.SKILLS .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(246, 247, 250);
}

.SKILLS ul:hover span{
    filter: blur(2px);
}

.SKILLS ul li span:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.HOBBIES h3{
    padding-top: 2px;
    text-align: center;
}


.HOBBIES ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-items: center;
}


.HOBBIES ul li{
    padding-top: 30%;
    list-style: none;
    color: antiquewhite;
    font-weight: 500;
    margin: 0 5px;
    width: 50px;
    height: 50px;
}

.HOBBIES ul li i{
    display: block;
    padding: 0 10px;
    background: #fff;
    color: rgb(43, 73, 161);
    line-height: 50px;
    font-size: 30px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .4);
    transition: .2s;
}

.HOBBIES ul:hover i{
    filter: blur(2px);
}

.HOBBIES ul li i:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}


.container .right_side{
    position: relative;
    background: #fff;
    padding: 40px;
}


h1{
    color: rgb(43, 73, 161);
    text-align: center;
    font-size: 55px;
}

.programation h3{
    color: rgb(43, 73, 161);
}

.programation h3:hover{
    filter: blur(2px);
}

.programation h3:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}


.about h3{
    background-color: rgb(43, 73, 161);
    color: #fff;
    display: inline-block;
    width: 400px;
    font-size: 30px;
    height: auto;
    border-radius: 5px 5px 5px 5px;
    text-align: right;
}

.about h3:hover{
    filter: blur(2px);
}

.about h3:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.education h3{
    background-color: rgb(43, 73, 161);
    color: #fff;
    display: inline-block;
    width: 200px;
    font-size: 30px;
    height: auto;
    border-radius: 5px 5px 5px 5px;
    text-align: right;
}

.education h3:hover{
    filter: blur(2px);
}

.education h3:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.experience h3{
    background-color: rgb(43, 73, 161);
    color: #fff;
    display: inline-block;
    width: 210px;
    font-size: 30px;
    height: auto;
    border-radius: 5px 5px 5px 5px;
    text-align: right;
}

.experience h3:hover{
    filter: blur(2px);
}

.experience h3:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}


@media (max-width: 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .experience{
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 600x){
    .CONTACTO{
        flex-direction: column;
    }
    .HOBBIES{
        grid-template-columns: repeat(2,1fr);
    }
    .HABILIDADES{
        grid-template-columns: repeat(1,1fr);
    }
    .SKILLS{
        grid-template-columns: repeat(1,1fr);
    }
}